.one{
	height: 300px;
	width: auto;
	background-color: black;
	border: 2px solid yellow;
	margin: 2px;

}
.two{
	height: 800px;
	width: auto;
	background-color: black;
	border: 2px solid yellow;
	margin: 2px;

}
.three{
	height: 788px;
	width: 200px;
	color: red;
	background-color: blue;
	border: 2px solid black;
	margin: 2px;
	float: left;

}
.four{
	height: 788px;
	width: 1185px;
	color: red;
	background-color: green;
	border: 2px solid green;
	margin: 2px;
	float: right;

}
.five{
	height: 150px;
	width: auto;
	color: red;
	background-color: red;
	border: 2px solid green;
	margin: 2px;
	

}