
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .two{background: white;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #small{background: white;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #small{background: white;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #small{background: white;}
}
.one{
	width: 1440px;
	height: autopx;
	border: 0px groove black;

}

.two{
	width: 1440px;
	height: 200px;
	border: 0px groove black;
	background-image: url(header.jpg);

}


.three{
	width: 1440px;
	height: 600px;
	border: 0px groove black;
}
.four{
	width: 100px;
	height: 600px;
	border: 0px groove black;
	float: left;
	background-image: url('buffee.jpg');
    background-repeat: no-repeat;
    background-attachment: ;  
    background-size: ;
    opacity: 0.5;
}

.five{
	width: 1340px;
	height: 600px;
	border: 0px groove black;
	float: left;
}
.six{
	
	background-image: url(http.png);
	background-repeat: no-repeat;
	width: 450px;
	height: 600px;
	border: 0px groove black;
	float: left;
	text-align: justify;
	margin: 50px 0px 0px 20px;



}
.seven{
	width: 600px;
	height: 600px;
	border: 0px groove black;
	float: left;
	text-align: center;
	background-image: url(amirrajput.png);
	background-repeat: no-repeat;
	background-position:bottom;
}


.eight{
	width: 100px;
	height: 600px;
	border: 0px groove black;
	float: right;
	background-image: url('buffee.jpg');
    background-repeat: no-repeat;
    background-attachment: ;  
    background-size: ;
    opacity: 0.5;
}


.nine{
	width: 1440px;
	height: 150px;
	border: 0px groove black;
	float: left;
	text-align: center;
	background-image: url(bottom1.jpg);
	opacity: 0.8;
}












